@font-face {
    font-family: "TTLakes";
    src: local("TTLakes"),
    url("../fonts/TTLakes-Regular.woff") format("woff");
    font-weight: normal;
}

  body{
    font-family: "TTLakes", sans-serif;
    margin: 0;
}
.contmenu__item-button {
    font-size: 16px;
    font-family: "TTLakes";
    color: #7E7E82;
}
.reed_next {
    color: #1B1C21;
    font-family: "TTLakes";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.2px;
    white-space: nowrap;
}
.page-container {
    margin: 0 auto;
    width: 320px;
    height: 597px;
}
header{
    height: 0;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 24px 16px ;
    list-style: none;
}
.menu__mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 24px 16px ;
    list-style: none;
}
.title {
    display: flex;
    justify-content: flex-start; 
    margin: 0; 
}
.title__text {
    color: #1B1C21;
    font-family: "TTLakes";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    vertical-align: top;
    margin: 0 0 0 16px;
    
}
main{
    display: flex;
    flex-direction: column;
    margin-top: 88px;
    overflow: hidden;
}
.contmenu {
    display: flex;
    flex-wrap: nowrap;
    gap: 4px;
    margin: 0;
    list-style: none;
    padding-left: 16px;
    overflow-x: scroll;
    
}
.contmenu__item {
    white-space: nowrap;
    background: #FFF;
    padding: 8px 8px 8px 16px;
    color: #7E7E82;
    font-family: "TTLakes";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    cursor: pointer;
    width: auto;
}
.contmenu__item:hover {
    border-radius: 6px;
    outline: 2px solid #B8FFEC;
}
.reed {
    display: flex;
    margin: 20px;
    align-items: center;
    gap: 4px;
}
.reed_next {
    display: flex;
    width: 108px;
    justify-content: flex-start;
    border: none;
    background: none;
    cursor: pointer;
}
.menu__item_icon {
    background: none;
    border: none;
    cursor: pointer;
}
.menu__img_icon {
    background: none;
    border: none;
}
.menu__img1 {
    border: none;
}
.contmenu__item-button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-right: 19px;
}
.main_text {
    margin: 0 0 0 16px;
    color: #1B1C21;
    width: 288px;
    font-family: "TTLakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}
.menu__item__mid {
    display: none;
}
.menu_container {
    display: flex;
    justify-content: space-between;
}
.text__mid {
    margin: 16px 0 0 16px;
    display: none;
}
.title {
    margin-top: 24px;
}
.contmenu {
    margin-top: 32px;
}
.foot {
    margin-top: 32px;
}
.text {
    margin: 0;
}
.cps {
    width: 320px;
    height: avto;
}
.line__menu {
    display: none;
}


@media (min-width: 784px) {
    .menu__item__mid {
        display: block;
        }
    .page-container {
        width: 784px;
    }
    .foot {
        display: flex;
        justify-content: space-between;
    }
    .text__mid {
        display: block;
    }
    .cps {
        width: 360px;
        height: avto;
    }
    .foot {
        gap: 48px;
    }
    .line__menu {
        display: none;
    }
    .main_text, .text__mid {
        width: 312px;
        color: #1B1C21;
        font-family: "TTLakes";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
    .dobav {
        display: none;
    }
}


@media (min-width: 1120px) {
    .menu_container {
        display: none;
    }
    .page-container {
            width: 1120px;
            padding-right: 28px;
        }
    .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .line__menu {
        display: flex;
            list-style: none;
    }
    .line__menu__item {
        display: flex;
        align-items: center;
    }
    .title {
        white-space: nowrap;
        align-items: center;
        margin: 0;
    }
    .contmenu {
        overflow-x: visible;
    }
    .foot{
        margin-top: 19px;
    }
    .contmenu {
        margin-left: 16px;
    }
    main {
        margin-top: 42px;
    }
    .cps{
        width: 531px;
        height: avto;
    }
    .title__text{
        margin-left: 24px;
    }
    .text {
        margin-left: 24px;
    }
    .main_text, .text__mid, .reed {
        margin-left: 0;
    }
    .dobav {
        display: inline;
    }
    .main_text, .text__mid, .dobav{
        width: 490px;
        color: #1B1C21;
        font-family: "TTLakes";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
        }
    .contmenu {
        flex-wrap: wrap;
        height: 86px;
    }
    .contmenu__item {
        height: 24px;   
    }
}